*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: cadetblue;
}

.calculator{
    background-color: #f2f2f2;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 50px;
}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: #ff4236;
    color: #fff;
}

.number, .number0, .decimal{
    background-color: #fff;
    color: #333;
}

.operatorP, .operator{
    background-color: #0074d9;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    grid-row: span 2;
    color: #fff;
}
.operatorP{
    grid-row: span 2;
}
.number0{
    grid-column: span 2;
}

